#Members folder holds the data uploaded by each member, not included in the git repo.
#structure is as follows:
# - members->[ID]->source->[file],
# - by_username->[username] (symlink to members->[ID] folder)
# - Members->[ID]->combined.klm (contains all data from that user combined in one file)
# - Members->[ID]->manifest.json, holds data about folder schema version, user identity data, and profile settings.
members/*
!members/
by_username/*
!by_username